*{
margin: 0px;
padding: 0px;
}

.body{
    font-family: 'Open Sans', sans-serif;
}

/* section banner container */
.banner-img{
    width: 350px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    /* border: 5px solid tomato; */
    background-color: #f8dada;
}

.banner-title-h{
    font-size: 40px;
    color: #272727;
    margin-bottom: 15px;
    }

.banner-title-p{
    font-size: 18px;
    color: #272727;
}
.banner-photo{
    margin-top: 62px;
    margin-right: 40px;
}

.btn-primary{
    padding: 12px 22px;
    margin-top: 15px;
    margin-left: 200px;
    background-color: #E55473;
    color: white;
    border: 0px;
    /* border-radius: 5px; */
    border-top-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
}

/* main section */
/* Our Featured */
.Our-Featured{
    /* height: 300px; */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    font-size: 30px;
}

/* .section-title{
    color: #272727;
    font-size: 50px;
} */

/* Our-Featured-info */
/* box section */

.box{
    width: 350px;
    height: 450px;
    text-align: center;
    background-color: #E55473;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.icon{
    width: 250px;
    height: 350px;
    padding-top: 100px;
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.background-first{
    width: 350px;
    height: 450px;
    background-color: #fdd4e8;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.background-second{
    width: 350px;
    height: 450px;
    background-color: #cae8e9;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.background-thread{
    width: 350px;
    height: 450px;
    background-color: #d6d6d6;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.service-h{
    margin-top: 20px;
    text-decoration: underline;
    padding: 10px;
}

.support-section{
    /* align-items: center;
    justify-content: space-around; */
    margin-top: 120px;
    width: 900px;
    height: 170px;
    margin-left: 200px;
    background-color: #e2cbcb;
    border-radius: 15px;
}

.support{
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Hot Deal ! Sale Up To 25% Off */
.section-offer{
    margin-top: 100px;
}

/* .text-off{
    color: #E55473;
} */
.service-container-box{
    display: flex;

}

.box-new-service{
    padding-left: 60px;
    padding-bottom: 80px;
    margin: 5px;
}

.new-banner-container{
    height: 500px;
}

.new-banner-list{
    padding: 20px 20px 80px 80px;
    margin: 100px;
    height: 300px;
    background-image: url("./Flower/azaz.png");
}

.nav-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
}





